%nav.blue
  .nav-wrapper
    %a.brand-logo{:href => "#"} BLOG
    %ul#nav-mobile.right.hide-on-med-and-down
      - if user_signed_in?
        %li
          = link_to "ログアウト", destroy_user_session_path
        %li
          = link_to "マイブログ", "#"
      - else
        %li
          = link_to "ログイン", new_user_session_path
        %li
          = link_to "新規登録", new_user_registration_path

.row
  .col.s12.m3
  .col.s12.m6
    .card.white
      .card-content.black-text
        %span.card-title Card Title
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to "詳細を見る", "#", class: "waves-effect waves-light blue btn"
        = link_to "投稿を編集", "#", class: "waves-effect waves-light blue btn"
        = link_to "投稿を削除", "#", class: "waves-effect waves-light blue btn"
