.row
  .col.s12.m3
  .col.s12.m6
    .card.white
      .card-content.black-text{data: @blog.id}
        %span.card-title= @blog.title
        %p.text-body= @blog.show_text
        %br/
        %p= "Written by : " + @blog.user.nickname
      .card-action
        - if user_signed_in? && @blog.user.id == current_user.id
          = link_to "投稿を編集", edit_blog_path(@blog.id), class: "waves-effect waves-light blue btn"
          = link_to "投稿を削除", "/blogs/#{@blog.id}", method: :delete, class: "waves-effect waves-light blue btn",  data: { turbolinks: false }
